@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}
<style>
body{
    background-color: #000;
    color: #fff;
}

</style>

<h1>High 5, you rock!</h1>
