@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}
<style>
body {
	background-color: #222;
	color: #fff;
	
}
h1 {
	font-size: 3em;
	font-family: sans-serif;
	text-align: center;
}

@supports (display: grid) {
	body {
		display: grid;
		height: 100vh;
	}
	
	h1 {
		margin: auto;
	}
}
</style>

<h1>High 5, You Rock!</h1>
