@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}
<style>
body {
	background-color: #222;
	color: #fff;
}
h1 {
	text-align: center;
}
</style>

</style>
<center>
<h1>High 5, you rock!</h1>
</center> 